<a href="https://colab.research.google.com/github/gulshan0201/DSA/blob/main/Concepts_of_DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from collections import Counter

Pointer = namedtuple('Pointer',['x','y'])

point = Pointer(90,88)

print(point.x)
print(point.y)

90
88

In [1]:
from collections import namedtuple

Employee = namedtuple('Employee',['id','name','designation','sallary'])

emp1 = Employee('11','Jack','Developer',20000)
emp2 = Employee('12','Rock','Sales lead',7000)

print(emp1.name)

for emp in [emp1,emp2]:
  print(f"{emp.name} works as a {emp.designation} and earns a sallary of {emp.sallary}")

Jack
Jack works as a Developer and earns a sallary of 20000
Rock works as a Sales lead and earns a sallary of 7000